
.Big {
    position:relative;
    top: -60px;
    right: -400px;
    display: flex;
    gap: 30px;
}
.Bigs {
    position:relative;
    top: -120px;
    right: -1300px;
    color:blue;
    
}

.Bigg {
    position: relative;
    bottom: -60px;
    right: -500px;
    font-size: 20px;
    
}

.para {
    position: relative;
    bottom : -50px;
    right: -500px;

}


.IG {
    position:relative;
    right: -550px;
    bottom: -100px;
}